<H1>comments#edit</H1>

<div class= "container">
  <div class= "col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  <%= form_for([@wall, @comment]) do |f| %>
    <% if @comment.errors.any? %>
      <div id= "error_explanation" >
      <h2> <%= @comment.errors.count %>件のエラーがあります</h2>
        <ul>
          <%= @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.hidden_field :wall_id %>
      <div class="field">
        <%= f.text_field :context, placeholder: "内容", class: "form-control" %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit '投稿', class: "btn btn-primary"%>
      </div>
  <% end %>

  </div>
</div>
